<!DOCTYPE html>
<html>

<head>
  <title>Go Blast Framework - Do less, do better!</title>
</head>

<body>
  <div style="width:50em; margin:auto; text-align:center;">
    {{embed}}
  </div>
</body>

</html>